<table class="table-responsive">
        <tr style="background-color:black;">
            <th><h3>Follow US</h3></th>
            <th><h3>Support</h3></th>
            <th><h3>My Accounts</h3></th>
            <th><h3>Useful Links</h3></th>
        </tr>
        <tr style="background-color: gray;">
            <td style="width: 10%; ">
                <img class="follow" src="../../assets/img/Logo/AllLogo.png" alt=""><br>
                <p>We also Accept:</p>
                <img class="follow"src="../../assets/img/Logo/visa.png" alt="">
            </td>
            <td class=" links">
            <ul type="none" >
                <li>Home</li>
                <li>Products available</li>
                <li>About Us</li>
                <li>Contact us</li>
                <li>Feedback</li>
            </ul>
           </td>
        <td  class=" links">
            <ul type="none" >
                <li>My account</li>
                <li>My orders</li>
                <li>My credit slips</li>
                <li>My addresses</li>
                <li>My personnel information</li>
            </ul>
        </td>
        <td  class=" links">
            <ul type="none" >
                <li>Specials</li>
                <li>New Products</li>
                <li>Best sellers</li>
                <li>Our store(s)!</li>
                <li>Contact us</li>
                <li>Shipping and Delivery policy</li>
                <li>Privacy Policy</li>
                <li>Frequently Asked Questiones</li>
                <li>Terms and Conditions of Use</li>
            </ul>
        </td>
    </tr>
    </table>

        <div class="copyright">
            <h3>&copy;2017 Nature's Paradise, All rights reserved.</h3>
            <h3>Written by Nature's Paradise.<br/>
                Visit us at:natureparadise.in or at MG Road,Bangalore, KA, India </h3>
        </div>


