

<div class="section wrap">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1 style="text-align:center;"><b>About Us</b></h1>
            </div>
            <div>
                <img src="../../assets/img/Nature/about.png" style="width:40%;" alt="">
            </div>
            <div>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    
                </p>
                <div class="button">
                    <a routerLink="/home">Read More</a>
                </div>
            </div>
        </div>
     
    </div>
</div>
