
 <div class="main" style="width:74%; margin-left: 25%; height: 600px; ">
  <h1 style="background-color: black; color:white">Authentication</h1>


<div class="row ">
  <div class="column">
    <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center" >
    <div class="example-container">
        <h4 class="signin">Add Account</h4>
    <div class="form">
      <div>
        <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">    
          <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
            Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top fxFlex">
        <button [disabled]="!loginForm.valid" mat-raised-button  mat-button>Create Account</button>
      </div>
    </div>
  </div>
  </form>
  </mat-card>
</div>

<div class="column">
  <mat-card>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center" >
  <div class="example-container">
      <h4 class="signin">Already a User??</h4>
  <div class="form">
    <div>
      <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-top-2">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">    
        <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
          Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-top fxFlex">
      <button [disabled]="!loginForm.valid" mat-raised-button  mat-button>Login</button>
    </div>
  </div>
</div>
</form>
</mat-card>
  </div>
</div>
