<!-- <div class="header">
  <img src="./assets/img/Logo/treeLogo.jpg" alt="Tree logo">
  <h2>Nature's Paradise<br/>
      <span>Make your Home a Greener Place !!</span></h2>
 <p><a routerLink="./login">Login</a></p>
 <p><a href="registration">New User</a></p>
</div> -->
<header>

  <div class="container">
    <div>
      <img src="./assets/img/Logo/treeLogo.jpg" alt="Tree logo" class="logo"

        style="height: 50px; width: 100px"
      /> 
      <span>Nature's Paradise</span>
      <br>
      &nbsp; &nbsp; &nbsp; &nbsp;<span> Make your Home a Greener Place !!</span>
    </div>
    <p><a routerLink="./login" style="color:#FFEA00 ;text-decoration: none;">Login</a></p>
  </div>
</header>

