* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
header {
    min-height: 100px;
    padding-top: 25px;
    min-height: 100px;
    background: linear-gradient(to left,#8BC34A, #F0F4C3,#8BC34A ,#F0F4C3, #8BC34A);
    background: url("src/assets/BGimg/Leaves.jpg");

}
header .logo {
    float: left;
}

header span{
    font-family: Gabriola;
    font-size: 3rem;
    margin: -5px 10px 0px 100px;
    padding: -2px 10px 0px 5px;
    font-weight: normal;
    color: #FFEA00;
    white-space: nowrap;
}
@media only screen and (max-width: 600px) {
   
    header .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header span {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    header p {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}

