<div  class="menu">
    <p>PRODUCT CATEGORIES</p>
    <a class="links" href="Bonsai" >Bonsai</a>
    <a class="links" href="flowersaplings">Flower saplings</a>
    <a class="links" href="fruitsaplings">Fruit saplings</a>
    <a class="links" href="organicmanure">Organic manure</a>
    <a class="links" href="gardeningtools">Gardening tools</a>
    <a class="links" href="vegetablesaplings">Vegetable saplings</a>
    <a class="links" href="fruitseeds">Fruit seeds</a>
    <a class="links" href="vegetableseeds">Vegetable seeds</a>
    <a class="links" href="specialoffer">Special Offers</a>
</div>
